/* line 8, ../sass/base/_base.scss */
body h1, body h2, body h3, body h4, body p, body ul, body li, body a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 12, ../sass/base/_base.scss */
body p {
  font-weight: lighter;
}

/* line 17, ../sass/base/_base.scss */
h2 {
  font-size: 36px;
  font-weight: bold;
}

/* line 17, ../sass/base/_mixins.scss */
.btn__round {
  width: 64px;
  height: 64px;
  display: block;
  background-color: #383838;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.5s;
}
/* line 19, ../sass/base/_elements.scss */
.btn__round:hover {
  cursor: pointer;
}
/* line 22, ../sass/base/_mixins.scss */
.btn__round--right {
  background-image: url("../assets/elements/chevron_right.svg");
}
@media (max-width: 769px) {
  /* line 22, ../sass/base/_mixins.scss */
  .btn__round--right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
/* line 35, ../sass/base/_elements.scss */
.btn__round--right:hover {
  background-size: 19px;
}
/* line 22, ../sass/base/_mixins.scss */
.btn__round--left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #ff9200;
}
@media (max-width: 769px) {
  /* line 22, ../sass/base/_mixins.scss */
  .btn__round--left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

/* line 63, ../sass/base/_elements.scss */
div#ui-datepicker-div {
  background-color: #f5f8f9;
  padding: 20px;
  position: relative;
  display: none;
  -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
}
/* line 73, ../sass/base/_elements.scss */
div#ui-datepicker-div a {
  color: #383838;
}
/* line 77, ../sass/base/_elements.scss */
div#ui-datepicker-div .ui-datepicker-title {
  border-bottom: 1px solid #d5e2e6;
  padding: 0 0 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
/* line 86, ../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-corner-all span {
  text-indent: -99999px;
  width: 25px;
  display: block;
  height: 25px;
}
/* line 95, ../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-datepicker-prev span {
  background-image: url(../assets/elements/chevron_right.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  position: absolute;
  top: 15px;
  left: 5px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 113, ../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-datepicker-next span {
  background-image: url(../assets/elements/chevron_right.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  position: absolute;
  top: 15px;
  right: 5px;
}

/* line 128, ../sass/base/_elements.scss */
input.error {
  border: 1px solid #f9bf83 !important;
  color: #f9bf83;
}

/* line 133, ../sass/base/_elements.scss */
.app .profile__form span {
  float: left;
  width: 100%;
  position: relative;
  top: -25px;
  background: #f9bf83;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

/* line 2, ../sass/app/app.scss */
.app {
  height: 892px;
  margin: 2.5% auto;
  object-fit: contain;
  border-radius: 42.5px;
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 769px) {
  /* line 2, ../sass/app/app.scss */
  .app {
    height: auto;
    float: left;
    border-radius: 0;
    box-shadow: none;
  }
}
/* line 21, ../sass/app/app.scss */
.app .profile {
  background-color: #ffd500;
  height: 100%;
  border-radius: 42.5px 0 0 42.5px;
  text-align: center;
  padding: 10% 5%;
  float: left;
  position: relative;
}
@media (max-width: 769px) {
  /* line 21, ../sass/app/app.scss */
  .app .profile {
    border-radius: 0;
    height: 892px;
  }
}
@media (max-width: 481px) {
  /* line 21, ../sass/app/app.scss */
  .app .profile {
    height: 650px;
  }
}
/* line 39, ../sass/app/app.scss */
.app .profile h2 {
  margin-bottom: 17px;
}
/* line 43, ../sass/app/app.scss */
.app .profile strong {
  font-size: 22px;
  font-weight: normal;
  display: block;
}
@media (max-width: 481px) {
  /* line 43, ../sass/app/app.scss */
  .app .profile strong {
    font-size: 18px;
  }
}
@media (max-width: 321px) {
  /* line 43, ../sass/app/app.scss */
  .app .profile strong {
    font-size: 16px;
  }
}
/* line 57, ../sass/app/app.scss */
.app .profile img {
  margin-bottom: 80px;
}
@media (max-width: 481px) {
  /* line 57, ../sass/app/app.scss */
  .app .profile img {
    margin-bottom: 35px;
  }
}
/* line 65, ../sass/app/app.scss */
.app .profile a.btn__round.btn__round--right {
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
}
@media (max-width: 769px) {
  /* line 65, ../sass/app/app.scss */
  .app .profile a.btn__round.btn__round--right {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    margin-top: 60px;
  }
}
@media (max-width: 481px) {
  /* line 65, ../sass/app/app.scss */
  .app .profile a.btn__round.btn__round--right {
    position: absolute;
    top: auto;
    bottom: 7%;
  }
}
@media (max-width: 481px) {
  /* line 93, ../sass/app/app.scss */
  .app .profile__form .col-sm-3 {
    display: none;
  }
}
/* line 99, ../sass/app/app.scss */
.app .profile__form label {
  font-size: 15px;
  color: #373d40;
}
/* line 104, ../sass/app/app.scss */
.app .profile__form span {
  float: left;
  width: 100%;
}
/* line 109, ../sass/app/app.scss */
.app .profile__form input {
  margin-bottom: 22px;
}
/* line 115, ../sass/app/app.scss */
.app .profile__form input[type="text"] {
  background-color: #f5f8f9;
  padding: 10px;
  border-radius: 5px;
  border: solid 1.2px #f5f8f9;
  width: 100%;
  height: 53px;
}
/* line 124, ../sass/app/app.scss */
.app .profile__form input[type="text"]:focus {
  outline: none;
  border: solid 1.2px #cbd7dd;
}
/* line 133, ../sass/app/app.scss */
.app .profile__form input#dob {
  background-image: url("../assets/elements/date_pick.svg");
  background-repeat: no-repeat;
  background-position: 95%;
}
/* line 139, ../sass/app/app.scss */
.app .profile__form input[type=radio] {
  display: none;
}
/* line 143, ../sass/app/app.scss */
.app .profile__form input[type=radio] + label {
  display: block;
  height: 53px;
  width: 53px;
  padding-left: 35px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
}
@media (max-width: 1361px) {
  /* line 143, ../sass/app/app.scss */
  .app .profile__form input[type=radio] + label {
    height: 45px;
    width: 45px;
    background-size: 25px;
  }
}
/* line 162, ../sass/app/app.scss */
.app .profile__form fieldset#gender {
  margin: 10px 0px 15px;
}
/* line 165, ../sass/app/app.scss */
.app .profile__form fieldset#gender input[type=radio] + label {
  background-color: #f5f8f9;
  line-height: 50px;
  margin-right: 100px;
  transition: 0.5s;
}
@media (max-width: 481px) {
  /* line 165, ../sass/app/app.scss */
  .app .profile__form fieldset#gender input[type=radio] + label {
    margin: 0 0 25px;
    clear: both;
  }
}
/* line 176, ../sass/app/app.scss */
.app .profile__form fieldset#gender input[type=radio] + label:hover {
  background-color: #ffea80;
  transition: 0.5s;
}
/* line 183, ../sass/app/app.scss */
.app .profile__form fieldset#gender label:after {
  display: block;
  position: relative;
  left: 35px;
}
/* line 190, ../sass/app/app.scss */
.app .profile__form fieldset#gender label[for="male"] {
  background-image: url("../assets/elements/gender_male.svg");
}
/* line 193, ../sass/app/app.scss */
.app .profile__form fieldset#gender label[for="male"]:after {
  content: "male";
}
/* line 198, ../sass/app/app.scss */
.app .profile__form fieldset#gender label[for="female"] {
  background-image: url("../assets/elements/gender_female.svg");
}
/* line 201, ../sass/app/app.scss */
.app .profile__form fieldset#gender label[for="female"]:after {
  content: "female";
}
/* line 206, ../sass/app/app.scss */
.app .profile__form fieldset#gender input[type=radio]:checked + label {
  background-color: #ffd500;
}
/* line 211, ../sass/app/app.scss */
.app .profile__form fieldset#membership {
  margin: 10px 0px 45px;
}
@media (max-width: 481px) {
  /* line 211, ../sass/app/app.scss */
  .app .profile__form fieldset#membership {
    margin: 10px 0px 15px;
  }
}
/* line 218, ../sass/app/app.scss */
.app .profile__form fieldset#membership input[type=radio] + label {
  background-color: #c7c7c7;
  background-image: url("../assets/elements/card.svg");
  margin-right: 85px;
  line-height: 50px;
  transition: 0.5s;
}
/* line 225, ../sass/app/app.scss */
.app .profile__form fieldset#membership input[type=radio] + label:hover {
  background-color: #7ce9cd;
  transition: 0.5s;
}
@media (max-width: 1361px) {
  /* line 218, ../sass/app/app.scss */
  .app .profile__form fieldset#membership input[type=radio] + label {
    margin-right: 75px;
  }
}
@media (max-width: 481px) {
  /* line 218, ../sass/app/app.scss */
  .app .profile__form fieldset#membership input[type=radio] + label {
    margin: 0 0 25px;
    clear: both;
  }
}
/* line 242, ../sass/app/app.scss */
.app .profile__form fieldset#membership label:after {
  display: block;
  position: relative;
  left: 30px;
}
@media (max-width: 1361px) {
  /* line 242, ../sass/app/app.scss */
  .app .profile__form fieldset#membership label:after {
    left: 20px;
    font-size: 14px;
  }
}
/* line 257, ../sass/app/app.scss */
.app .profile__form fieldset#membership label[for="classic"]:after {
  content: "Classic";
}
/* line 263, ../sass/app/app.scss */
.app .profile__form fieldset#membership label[for="silver"]:after {
  content: "Silver";
}
/* line 269, ../sass/app/app.scss */
.app .profile__form fieldset#membership label[for="gold"]:after {
  content: "Gold";
}
/* line 274, ../sass/app/app.scss */
.app .profile__form fieldset#membership input[type=radio]:checked + label {
  background-color: #66e5c5;
}
/* line 280, ../sass/app/app.scss */
.app .profile__form label {
  float: left;
  width: 100%;
  height: 70px;
  line-height: 4;
}
/* line 287, ../sass/app/app.scss */
.app .profile__form fieldset#action {
  width: 100%;
  text-align: right;
}
/* line 292, ../sass/app/app.scss */
.app .profile__form input[type="reset"], .app .profile__form input[type="submit"] {
  width: 158.7px;
  height: 53px;
  border-radius: 5.3px;
  border: none;
  margin-right: 10px;
  text-transform: uppercase;
  transition: 0.8s;
}
@media (max-width: 769px) {
  /* line 292, ../sass/app/app.scss */
  .app .profile__form input[type="reset"], .app .profile__form input[type="submit"] {
    width: 100%;
  }
}
/* line 306, ../sass/app/app.scss */
.app .profile__form input[type="reset"] {
  background-color: #f5f8f9;
  color: #373d40;
}
/* line 310, ../sass/app/app.scss */
.app .profile__form input[type="reset"]:hover {
  background-color: #e5edef;
  transition: 0.8s;
}
/* line 316, ../sass/app/app.scss */
.app .profile__form input[type="submit"] {
  background-color: #66e5c5;
  color: white;
}
/* line 320, ../sass/app/app.scss */
.app .profile__form input[type="submit"]:hover {
  background-color: #50e1bd;
  transition: 0.8s;
}
/* line 17, ../sass/base/_mixins.scss */
.app .profile__expand {
  background-color: #ff9200;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 0 42.5px 42.5px 0;
  padding: 10%;
}
@media (max-width: 769px) {
  /* line 17, ../sass/base/_mixins.scss */
  .app .profile__expand {
    top: 892px;
    border-radius: 0;
    height: 775px;
  }
}
@media (max-width: 481px) {
  /* line 17, ../sass/base/_mixins.scss */
  .app .profile__expand {
    height: 900px;
    top: 650px;
  }
}
/* line 347, ../sass/app/app.scss */
.app .profile__expand h2 {
  margin-bottom: 21px;
  display: block;
}
/* line 352, ../sass/app/app.scss */
.app .profile__expand p {
  font-size: 18px;
}
/* line 358, ../sass/app/app.scss */
.app .form_section {
  float: left;
  padding: 8%;
}
@media (max-width: 769px) {
  /* line 358, ../sass/app/app.scss */
  .app .form_section {
    height: 775px;
  }
}
@media (max-width: 481px) {
  /* line 358, ../sass/app/app.scss */
  .app .form_section {
    height: 650px;
  }
}
