// ==========================================================================
// Elements
// ==========================================================================

body {
	

	h1,h2,h3,h4,p,ul,li,a {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}

	p {
		font-weight: lighter;
	}
}

h2 {
	 font-size: 36px;
	 font-weight: bold;
}