// ==========================================================================
// Elements
// ==========================================================================

// Buttons

.btn {
	@include e(round){
		width: 64px;
  		height: 64px;
		display: block;
		background-color: $baseBrown;
		border-radius: 100px;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		transition : 0.5s;

		&:hover {
			cursor: pointer;
		}
		
		@include m(right){
			background-image: url('../assets/elements/chevron_right.svg');

				@include mq(tablet){
							 -webkit-transform: rotate(90deg);
							  -moz-transform: rotate(90deg);
							  -ms-transform: rotate(90deg);
							  -o-transform: rotate(90deg);
							  transform: rotate(90deg);

				}

			&:hover {
				background-size: 19px;
			}
		}

		@include m(left){
			 -webkit-transform: rotate(180deg);
			  -moz-transform: rotate(180deg);
			  -ms-transform: rotate(180deg);
			  -o-transform: rotate(180deg);
			  transform: rotate(180deg);

			  background-color: $baseOrange;

			  				@include mq(tablet){
							 -webkit-transform: rotate(270deg);
							  -moz-transform: rotate(270deg);
							  -ms-transform: rotate(270deg);
							  -o-transform: rotate(270deg);
							  transform: rotate(270deg);
				}
		}
	}
}


// Datepicker

div#ui-datepicker-div {
	background-color: #f5f8f9;
    padding: 20px;
    position: relative;
    display: none;

    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.15);

	a {
		color: $baseBrown;
	}

	.ui-datepicker-title {
	    border-bottom: 1px solid darken(#f5f8f9, 10%);
	    padding: 0 0 15px;
	    margin-bottom: 15px;
	    text-align: center;
	    font-weight: bold;
	}

	a.ui-corner-all {
		span {
			    text-indent: -99999px;
			    width: 25px;
			    display: block;
			    height: 25px;
		}
	}

	a.ui-datepicker-prev  {
		span {
			  background-image: url(../assets/elements/chevron_right.svg);
			  background-repeat: no-repeat;
			  background-size: 13px;
			  position: absolute;
			  top: 15px;
			  left: 5px;
			   

				    -webkit-transform: rotate(180deg);
				  -moz-transform: rotate(180deg);
				  -ms-transform: rotate(180deg);
				  -o-transform: rotate(180deg);
				  transform: rotate(180deg);
			}
		}

			a.ui-datepicker-next  {
			span {
				  background-image: url(../assets/elements/chevron_right.svg);
				  background-repeat: no-repeat;
				  background-size: 13px;
				  position: absolute;
				  top: 15px;
				  right: 5px;
				   
				}
		}
	
}

// Alerts

input.error {
    border: 1px solid #f9bf83 !important;
    color: #f9bf83;
}

.app .profile__form span {
    float: left;
    width: 100%;
    position: relative;
    top: -25px;
    background: #f9bf83;
    color: white;
    padding: 15px;
    border-radius: 5px;
}