// ==========================================================================
// BASE COLOURS
// ==========================================================================

$base		: #373d40;
$baseOrange : #ff9200;
$baseYellow : #ffd500;
$baseBrown 	: #383838;
$baseGreen	: #66e5c5;
$baseGrey	: #f5f8f9;


// FONT FAMILIES

$fontPrimary : Arial-MT;
