// ==========================================================================
// Mixins
// ==========================================================================

// Variables

$brkpoint-base			: 1px;
$brkpoint-phone_sm  : 320px;
$brkpoint-phone 		: 480px;
$brkpoint-tablet		: 768px;
$brkpoint-desktop		: 992px;
$brkpoint-large     : 1360px;

// BEM selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries

@mixin mq($break) {

  @if $break == "phone" {
    @media (max-width: $brkpoint-phone + 1) {
      @content;
    }
  }
    @else if $break == "phone_sm" {
    @media (max-width: $brkpoint-phone_sm + 1) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media (max-width: $brkpoint-tablet + 1) {
      @content;
    }
  }
  @else if $break == "desktop" {
    @media (max-width: $brkpoint-desktop + 1) {
      @content;
    }
  }
    @else if $break == "large" {
    @media (max-width: $brkpoint-large + 1) {
      @content;
    }
  }

   @else {
    @error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}
