
.app {
	height: 892px;
	margin: 2.5% auto;
	object-fit: contain;
	border-radius: 42.5px;
	background-color: #ffffff;
	position: relative;

	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);

	@include mq(tablet){
		height: auto;
		float: left;
		border-radius: 0;
		box-shadow: none;
	}

	.profile {
		background-color: $baseYellow;
		height: 100%;
		border-radius: 42.5px 0 0 42.5px;
		text-align: center;
		padding: 10% 5%;
		float: left;
		position: relative;

		@include mq(tablet){
			border-radius: 0;
			height: 892px;
		}

		@include mq(phone){
			height: 650px;
		}

		h2 {
			margin-bottom: 17px;
		}

		strong {
			font-size: 22px;
			font-weight: normal;
			display: block;

			@include mq(phone){
				font-size: 18px;
			}

			@include mq(phone_sm){
				font-size: 16px;
			}
		}

		img {
			margin-bottom: 80px;

			@include mq(phone){
				margin-bottom: 35px;
			}
		}

		a.btn__round.btn__round--right {
			    margin: 0px auto;
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 15%;

			    @include mq(tablet){

							    position: -webkit-sticky;
							    position: sticky;
							    top: 25px;
    							margin-top: 60px;
			    }

			    @include mq(phone){
			    	position: absolute;
			    	top: auto;
			    	bottom: 7%;
			    }
		}



		// Form

		@include e(form){

			.col-sm-3 {
					@include mq(phone){
							display: none;
					}
				}

			label {
				font-size: 15px;
				color: #373d40;
			}
		
			span {
				float: left;
				width: 100%;
			}

			input {
				margin-bottom: 22px;
			}

				

			input[type="text"] {
				background-color: #f5f8f9;
				padding: 10px;
				border-radius: 5px;
				border: solid 1.2px #f5f8f9;
				
				width: 100%;
				height: 53px;

				&:focus {
					outline: none;
					border: solid 1.2px #cbd7dd;
				}


			}
			

			input#dob {
				background-image: url('../assets/elements/date_pick.svg');
				background-repeat: no-repeat;
    			background-position: 95%;
			}

				input[type=radio] {
				  display: none;
				}

				input[type=radio] + label {
				
				    display: block;
				    height: 53px;
				    width: 53px;
				    padding-left: 35px;
				    border-radius: 50px;
				    
				    background-repeat: no-repeat;
    				background-position: 50%;


    				@include mq(large){
    					height: 45px;
    					width: 45px;
    					background-size: 25px;
    				}
				}

			fieldset#gender {
				margin: 10px 0px 15px;
				
				input[type=radio] + label {
				    background-color: #f5f8f9;
				       line-height: 50px;
				       margin-right: 100px;
				       transition: 0.5s;

				       	@include mq(phone){
    					margin: 0 0 25px;
    					clear: both;	
    					}

    					&:hover {
	    					background-color: lighten($baseYellow,25%);
	    					transition: 0.5s;
	    				}
				}

				label {
					&:after {
						display: block;
						position: relative;
    					left: 35px;
					}
				}

				label[for="male"] {
					background-image: url('../assets/elements/gender_male.svg');

					&:after {					
						content: "male";
					}
				}

				label[for="female"] {
					background-image: url('../assets/elements/gender_female.svg');

					&:after {
						content: "female";
					}
				}

				input[type=radio]:checked + label {
					background-color: $baseYellow;
				}
			}

			fieldset#membership {
    			margin: 10px 0px 45px;

    			@include mq(phone){
    				margin: 10px 0px 15px;
    			}

				input[type=radio] + label {
				    background-color: #c7c7c7;
				   	background-image: url('../assets/elements/card.svg');
				   	margin-right: 85px;
				   	line-height: 50px;
				   	transition: 0.5s;

				   		&:hover {
	    					background-color: lighten($baseGreen,5%);
	    					transition: 0.5s;
	    				}

				   	@include mq(large){
				   		margin-right: 75px;
				   	}

					@include mq(phone){
    					margin: 0 0 25px;
    					clear: both;	
    					}

				}

				label {
					&:after {
						display: block;
						position: relative;
    					left: 30px;

    					@include mq(large){
    						left: 20px;
    						font-size: 14px;
    					}


					}
				}

				label[for="classic"] {
					&:after {
						content: "Classic";
					}
				}

				label[for="silver"] {
					&:after {
						content: "Silver";
					}
				}

				label[for="gold"] {
					&:after {
						content: "Gold";
					}
				}

					input[type=radio]:checked + label {
					background-color: $baseGreen;
				}
			}

				
			label {
				    float: left;
    				width: 100%;
    				height: 70px;
    				line-height: 4;
			}

			fieldset#action {
				width: 100%;
				text-align: right;
			}

			input[type="reset"] , input[type="submit"]{
				 width: 158.7px;
				 height: 53px;
				 border-radius: 5.3px;
				 border: none;
				 margin-right: 10px;
				 text-transform: uppercase;
				 transition: 0.8s;

				 @include mq(tablet){
				 	width: 100%;
				 }
			}

			input[type="reset"] {
				background-color: $baseGrey;
				color: $base;

				&:hover {
					background-color: darken($baseGrey, 5%);
					transition: 0.8s;
				}
			}

			input[type="submit"] {
				background-color: $baseGreen;
				color: white;

				&:hover {
					background-color: darken($baseGreen, 5%);
					transition: 0.8s;
				}
			}
		}

		@include e(expand){
			background-color: $baseOrange;
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			border-radius: 0 42.5px 42.5px 0;
			padding: 10%;

			@include mq(tablet){
				top: 892px;
				border-radius: 0;
				height: 775px;
			}

			@include mq(phone){
				height: 900px;
				top: 650px;
			}

			h2 {
				margin-bottom: 21px;
				display: block;
			}

			p {
				font-size: 18px;
			}
		}
	}

	.form_section {
		float: left;
		padding: 8%;

					@include mq(tablet){
						height: 775px;	
					}

					@include mq(phone){
						height: 650px;
					}
	}
}