/* line 8, ../../sass/base/_base.scss */
body h1, body h2, body h3, body h4, body p, body ul, body li, body a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 12, ../../sass/base/_base.scss */
body p {
  font-weight: lighter;
}

/* line 17, ../../sass/base/_base.scss */
h2 {
  font-size: 36px;
  font-weight: bold;
}

/* line 17, ../../sass/base/_mixins.scss */
.btn__round {
  width: 64px;
  height: 64px;
  display: block;
  background-color: #383838;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.5s;
}
/* line 19, ../../sass/base/_elements.scss */
.btn__round:hover {
  cursor: pointer;
}
/* line 22, ../../sass/base/_mixins.scss */
.btn__round--right {
  background-image: url("../assets/elements/chevron_right.svg");
}
@media (max-width: 769px) {
  /* line 22, ../../sass/base/_mixins.scss */
  .btn__round--right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
/* line 35, ../../sass/base/_elements.scss */
.btn__round--right:hover {
  background-size: 19px;
}
/* line 22, ../../sass/base/_mixins.scss */
.btn__round--left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #ff9200;
}
@media (max-width: 769px) {
  /* line 22, ../../sass/base/_mixins.scss */
  .btn__round--left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

/* line 63, ../../sass/base/_elements.scss */
div#ui-datepicker-div {
  background-color: #f5f8f9;
  padding: 20px;
  position: relative;
  display: none;
  -webkit-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.15);
}
/* line 73, ../../sass/base/_elements.scss */
div#ui-datepicker-div a {
  color: #383838;
}
/* line 77, ../../sass/base/_elements.scss */
div#ui-datepicker-div .ui-datepicker-title {
  border-bottom: 1px solid #d5e2e6;
  padding: 0 0 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
/* line 86, ../../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-corner-all span {
  text-indent: -99999px;
  width: 25px;
  display: block;
  height: 25px;
}
/* line 95, ../../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-datepicker-prev span {
  background-image: url(../assets/elements/chevron_right.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  position: absolute;
  top: 15px;
  left: 5px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 113, ../../sass/base/_elements.scss */
div#ui-datepicker-div a.ui-datepicker-next span {
  background-image: url(../assets/elements/chevron_right.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  position: absolute;
  top: 15px;
  right: 5px;
}

/* line 128, ../../sass/base/_elements.scss */
input.error {
  border: 1px solid #f9bf83 !important;
  color: #f9bf83;
}

/* line 133, ../../sass/base/_elements.scss */
.app .profile__form span {
  float: left;
  width: 100%;
  position: relative;
  top: -25px;
  background: #f9bf83;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
